.span {
    min-width: 422px;
    position: relative;
    display: flex;
    font-weight: 200;
    font-size: 150px;
    line-height: 179px;
    color: var(--black);
    animation: time 1s ease-in-out infinite;
}
/*@keyframes time {*/
/*    0% {*/
/*        transform: scale(1);*/
/*    }*/

/*    50% {*/
/*        transform: scale(.0001);*/
/*    }*/

/*    100% {*/
/*        transform: scale(1);*/
/*    }*/

/*}*/